* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(35, 35, 57);
}
div.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.sub-container {
  text-align: center;
  box-shadow: 0px 0px 10px 0px white;
  border-radius: 10px;
  padding: 20px;
}
input {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: -2px -2px 8px -3px white, 3px 3px 5px 0px black;
  color: white;
  width: 3.5vw;
  height: 10vh;
  margin: 10px;
}
.active {
  color: orange;
  box-shadow: 3px 3px 6px -1px black inset, -2px -3px 5px -5px white inset;
}
